---
import TerminalHeader from '@/components/TerminalHeader.astro';
import Layout from '../layouts/Layout.astro';
import TerminalMenu from '@/components/TerminalMenu.astro';
---

<Layout>
  <div
    class='bg-slate-700 dark:bg-black text-white dark:text-gray-100 p-6 rounded-lg w-full max-w-4xl mx-auto font-mono mt-10 shadow-lg'
  >
    <h1 class='hidden'>
      Pedro Sorrentino - Full Stack Developer | JavaScript, TypeScript, React,
      Next.js, Astro
    </h1>

    <TerminalHeader title=`Hello World! I'm Pedro` />

    <div class='my-4 space-y-2'>
      <p class='text-green-400 dark:text-rose-400'>$ cat about_me.txt</p>

      <p class='text-blue-400 dark:text-purple-300'>~/about/name:</p>
      <p class='text-slate-300 dark:text-gray-300 ml-4'>Pedro Sorrentino</p>

      <h2 class='hidden'>Role</h2>
      <p class='text-blue-400 dark:text-purple-300'>~/about/role:</p>
      <p class='text-slate-300 dark:text-gray-300 ml-4'>
        Full Stack Developer | JavaScript, TypeScript, React, Next.js, Astro
      </p>

      <h2 class='hidden'>Skills</h2>
      <p class='text-blue-400 dark:text-purple-300'>~/about/skills:</p>
      <p class='text-slate-300 dark:text-gray-300 ml-4'>
        <span class='font-bold'>Languages:</span> JavaScript (ES6+ - Expert), TypeScript
        (Advanced), HTML5 (Expert), CSS3 (Advanced), Node.js (Expert), Python (Intermediate),
        Rust (Learning)
        <br />
        <span class='font-bold'>Frameworks & Libraries:</span> React (Expert), Next.js
        (Expert), Astro (Expert), Zustand (Intermediate), Vue.js (Basic), Tailwind
        CSS (Expert), Shadcn/ui
        <br />
        <span class='font-bold'>Databases:</span> MongoDB (Advanced), Turso (SQLite
        - Advanced), MySQL (Advanced), PostgreSQL (Intermediate), Redis (Intermediate),
        Firebase (Intermediate)
        <br />
        <span class='font-bold'>Tools & Technologies:</span> Git, GitHub, GitLab,
        Docker, Google Cloud Platform, Vercel, Netlify, Heroku, ESLint, Prettier,
        npm, yarn, pnpm, REST APIs, Lighthouse, Google PageSpeed Insights
        <br />
        <span class='font-bold'>Methodologies:</span> Agile (Basic), Web Performance
        Optimization
      </p>

      <h2 class='hidden'>Key Achievements</h2>
      <p class='text-blue-400 dark:text-purple-300'>~/about/achievements:</p>
      <ul class='list-none list-inside ml-4 text-slate-300 dark:text-gray-300'>
        <li>
          <span class='text-green-400 dark:text-rose-400'>✔</span> Founded and lead
          OrdepDev as a freelance full-stack developer since 2010, managing projects
          and leading small teams (1-5 people) to deliver custom web solutions for
          clients.
        </li>
        <li>
          <span class='text-green-400 dark:text-rose-400'>✔</span> Developed custom
          WordPress themes and plugins for Publi Media 7 (2002-2004), creating tailored
          web solutions for clients.
        </li>
        <li>
          <span class='text-green-400 dark:text-rose-400'>✔</span> Developed RESTful
          APIs with Node.js and MySQL, ensuring scalability, security, and efficiency,
          during my time at AD Computers (2011-2012).
        </li>
      </ul>

      <h2 class='hidden'>About Me</h2>
      <p class='text-blue-400 dark:text-purple-300'>~/about/me:</p>
      <p class='text-slate-300 dark:text-gray-300 ml-4'>
        I'm a self-taught full-stack developer with over 14 years of experience
        building web applications, primarily using JavaScript and its ecosystem.
        I'm passionate about creating performant, user-friendly, and scalable
        solutions. I have a strong track record of leading projects from concept
        to launch, both independently and as part of small teams. I'm proficient
        in both front-end and back-end development, with expertise in React,
        Next.js, and Astro. I'm also an avid traveler and enjoy exploring new
        technologies and contributing to the open-source community.
      </p>

      <h2 class='hidden'>Call to Action</h2>
      <p class='text-blue-400 dark:text-purple-300'>~/about/cta:</p>
      <p class='text-slate-300 dark:text-gray-300 ml-4'>
        I'm currently seeking full-time remote opportunities where I can
        leverage my expertise in JavaScript, React, Next.js, and Astro to build
        innovative and impactful web applications. I'm particularly interested
        in joining a productive and friendly team environment. Let's connect!
      </p>

      <TerminalMenu />
    </div>
  </div>
</Layout>
