---
import ThemeToggle from './ThemeToggle';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class='bg-brand-surface px-2 py-1 rounded-lg'>
  <div class='flex justify-between items-center'>
    <div class='hidden sm:flex space-x-2'>
      <div
        class='w-3 h-3 rounded-full bg-red-500 dark:bg-red-400 hover:scale-110 duration-300'
      >
      </div>
      <div
        class='w-3 h-3 rounded-full bg-yellow-500 dark:bg-yellow-400 hover:scale-110 duration-300'
      >
      </div>
      <div
        class='w-3 h-3 rounded-full bg-green-500 dark:bg-green-400 hover:scale-110 duration-300'
      >
      </div>
    </div>

    <p class='text-sm text-brand-text-muted'>
      {title}
    </p>
    <ThemeToggle client:only='preact' />
  </div>
</div>
