---
import Layout from '@/layouts/Layout.astro';
import TerminalHeader from '@/components/TerminalHeader.astro';
import TerminalMenu from '@/components/TerminalMenu.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import { PROJECTS_ES } from '@/utils/constants';
import { getI18n } from '@/utils/config';

const i18n = getI18n(Astro.currentLocale);
---

<Layout>
  <div
    class='bg-brand-surface text-brand-text-primary p-4 sm:p-6 rounded-lg w-full max-w-4xl mx-auto font-mono mt-10 shadow-md'
  >
    <h1 class='hidden'>{i18n.pageTitles.projectsHidden}</h1>

    <TerminalHeader title={i18n.pageTitles.projects} />

    <div class='mt-4 space-y-8'>
      <p class='text-brand-accent-secondary'>{i18n.catCommands.projects}</p>

      {
        PROJECTS_ES.map((project, index) => (
          <>
            <ProjectCard project={project} />
            {index < PROJECTS_ES.length - 1 && (
              <hr class='border-brand-border my-12' />
            )}
          </>
        ))
      }

      <TerminalMenu />
    </div>
  </div>
</Layout>
